/*CSS général*/

html, body{
    background-image: url("../Images/wp1982754-candies-wallpapers.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header {
    min-height: 9.375rem;
    width: 100%;
    padding-top: 2rem;
}
header .container-fluid {
    display: flex;
    justify-content: center;
}
header .container-fluid div {
    display: flex;
    align-content: center;
}

header .container-fluid div div:nth-child(1) {
    width: 150px;
    height: 150px;
    margin-right: 1rem;
}

main {
    min-height: calc(100vh - 9.375rem - 8rem);
    width: 100%;
}

footer {
    height: 8rem;
    width: 100%;
    background-color: #707;
}

footer .container {
    height: 8rem;
}

footer .container div {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

footer .container div div:nth-child(1)
{
    display: flex;
    justify-content: center;
    color: #fff;
}
footer .container div div:nth-child(2) li a {
        text-decoration: none;
        color: #ccc;
}
footer .container div div:nth-child(2) li a:hover {
    text-decoration: none;
    color: #fff;
}
main .bottom-buffer nav .container {
    display: flex;
    justify-content: center;
}

.logo{
    width: 100%;
    height: 100%;
}

.Titre{
    font-family: "Brush Script MT", cursive;
    font-size: 6.25em;
    color: #ff90f5;
}

.navig {
    overflow: hidden;
    display: flex;
    padding: 0;
    background-color: #f0f;
}

ul{
    list-style-type: none;
}

.block_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
}

.block_menu a:hover {
    background-color: #d0d;
    text-decoration: none;
    color: white;

}

.actif {
    background-color: #e0e;
}

.bottom-buffer{
    margin-bottom:20px;
}


/*Accueil*/

.carousel{
    height: 60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Pages de texte*/

.container-cadre{
    width: 100%;
    height: 100%;
    padding-top:10px;
    padding-bottom:10px;
    border: 3px solid #A0A0A0;
    background: #fdf;
    background: rgba(256,221,256,0.75);
}

.droite{
    float: right;
}

.gauche{
    float: left;
}

/*Galerie*/

.gallery-item{
    width: 260px;
    padding-top:10px;
    padding-bottom:10px;
    border: 3px solid #A0A0A0;
    background: #fdf;
    background: rgba(256,221,256,0.75);
    text-align: center;
}

.gallery-item a{
    text-decoration: none;
    color: black;
}

.gallery-item a:hover{
    text-decoration: none;
    color: black;
}

.gallery-image{
    width: 235px;
    height: 235px;
}

/*Responsive*/

@media (max-width: 576px) {
    .Titre{
        font-size: 4em;
    }
    header .container-fluid div div:nth-child(1) {
        width: 100px;
        height: 100px;
    }
}


@media (min-width: 576px) and (max-width: 768px) {  }


@media (min-width: 768px) and (max-width: 992px) {  }


@media (min-width: 992px) and (max-width: 1200px) {  }


@media (min-width: 1200px) {  }